.board-container {
    position: relative;
    left: 20%;
    top: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 40rem;
    width: 40rem;
}

.grid-box {
    height: 9rem;
    width: 9rem;
    background-color: blue;
    color: lightgreen;
    margin: 0rem 0rem 1rem 1rem;
    font-size: 74px;
    font-family: "Comic Sans MS";
    text-align: center;
    vertical-align: middle;
    line-height: 9rem;
}